<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Quiz app</h1>
    <p class="col-md-8 fs-4">This quiz will contains total 5 questions. each question holds 20 pints</p>
    <h4>Rules</h4>
    <ol>
        <li>correct question gives you 20 points</li>
        <li>correct question gives you 20 points</li>
        <li>correct question gives you 20 points</li>
        <li>correct question gives you 20 points</li>
    </ol>
    <h1 class="text-center">All the best</h1>
    <div class="name col-md-4 my-3">
        <label for="">Enter your name</label>
        <input #name type="text" name="" id="" class="form-control">
    </div>
    <button class="btn btn-primary btn-lg" routerLink="/question" (click)="startQuiz()">
        Start the Quizz!!
    </button>
</div>